body{
    background-color: rgba(247, 249, 251, 1);
    font-size: 20px;
}

.col-content{
    margin:auto;
    width:1500px;
}

.col-content-id{
    text-align: center;
}

.setting-button{
    background-color:transparent;
    border:none;
}

.btn{
    text-align: center;
}

.chatting-btn{
    width: 100px;
    background-color: rgba(28, 159, 215, 1);
    font-size:15px;
    border: none;
    border-radius:15px;
    color: white;
    padding: 7px;
    display:block;
}


