{% extends 'base.html' %}

{% block contents %}
<div class="images">
    <figure class="effect-sadie">
        <div class="image">
            <img src="https://images.unsplash.com/photo-1552633832-4f5a1b110980?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjYxOTE2fQ"
                alt="">
            <figcaption>
                <h3>전라도 <span>양궁체험</span></h3>
                <p>양궁을 직접 체험할 수 있는 곳입니다.</p>
            </figcaption>
        </div>
    </figure>
    <figure class="effect-sadie">
        <div class="image">
            <img src="https://images.unsplash.com/photo-1552584010-ca8bbbd5bd18?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjYxOTE2fQ"
                alt="">
            <figcaption>
                <h3>전라도 <span>양궁체험</span></h3>
                <p>양궁을 직접 체험할 수 있는 곳입니다.</p>
            </figcaption>
        </div>
    </figure>
    <figure class="effect-sadie">
        <div class="image">
            <img src="https://images.unsplash.com/photo-1552644867-3c98a63f38eb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjYxOTE2fQ"
                alt="">
            <figcaption>
                <h3>전라도 <span>양궁체험</span></h3>
                <p>양궁을 직접 체험할 수 있는 곳입니다.</p>
            </figcaption>
        </div>
    </figure>
    <figure class="effect-sadie">
        <div class="image">
            <img src="https://images.unsplash.com/photo-1552620543-31d952829801?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjYxOTE2fQ"
                alt="">
            <figcaption>
                <h3>전라도 <span>양궁체험</span></h3>
                <p>양궁을 직접 체험할 수 있는 곳입니다.</p>
            </figcaption>
        </div>
    </figure>
    <figure class="effect-sadie">

        <div class="image">
            <img src="https://images.unsplash.com/photo-1552602989-715150494024?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjYxOTE2fQ"
                alt="">
            <figcaption>
                <h3>전라도 <span>양궁체험</span></h3>
                <p>양궁을 직접 체험할 수 있는 곳입니다.</p>
            </figcaption>
        </div>
    </figure>
</div>
{% endblock %}