{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Byurak</title>

    <!--Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/sliding.css' %}">

</head>

<body>
    <section class="et-hero-tabs">
        <div class="row">
            <div class="col" style="padding: 100px 120px 20px 20px">
                <h2>누구보다 빠르게 멘토 & 멘티 찾기</h2>

                <strong>
                    <h1>BY<span style="color : #FFDC61;">U</span>RAK</h1>
                </strong>
                <br />
                <br />
                <br />
                <br />
                <h3>벼락은 여러분들에게 효율적인 멘토, 멘티 매칭을 해주는 플랫폼입니다.<br />
                    새로운 그리고 효율적인 소식을 알고 싶으신 분들을 위한 서비스입니다. </h3>
                <br />
                <br />
                <br />
                <a class="button" href="함께 하기"><strong>보러 가기</strong></a>

            </div>
            <div class="col">
                <img style="display:flex; width : 100%; height:100%; border-radius: 100px 0 100px 0"
                    src="{%static 'img/byurakMain.png'%}">
            </div>
        </div>

        <div class="et-hero-tabs-container">
            <a class="et-hero-tab" href="#tab-es6">Introduce</a>
            <a class="et-hero-tab" href="#tab-flexbox">Introduce</a>
            <a class="et-hero-tab" href="#tab-react">Introduce</a>
            <a class="et-hero-tab" href="#tab-angular">Introduce</a>
            <!-- <a class="et-hero-tab" href="#tab-other">Other</a> -->
            <span class="et-hero-tab-slider"></span>
        </div>
    </section>
    <!-- Main -->
    <main class="et-main">
        <section class="et-slide" id="tab-es6">
            asdf
        </section>
        <section class="et-slide" id="tab-flexbox">
            asfasdfasdf
        </section>
        <section class="et-slide" id="tab-react">
            asfdfsdf
        </section>
        <section class="et-slide" id="tab-angular">
            asdfasdfds
        </section>
    </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
    crossorigin="anonymous"></script>
<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="{% static 'js/sliding.js' %}"></script>


</html>