<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>


    @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
        body {
            font-family: "Noto Sans KR", sans-serif;
            background-color: #EDECEA;
        }

    
    .successBox {
        position: absolute;
        left: 37%;
    }

    a {
        margin-left: 166px;
    }
</style>
</head>


<body>
    <div class = successBox>
    <p style="color: #000;font-family: Noto SansKR, sans-serif; font-size: 300%; font-weight: 800; text-align: center;">CULTU<span style = "color:#ACCCC4">R</span>E BOOK</p>
    <p style = "font-size: 100px;">예약 성공!</p>
    <a href = "{% url 'feed:feedList' %}" style = "color : #454546"> 확인하기 </a><br>
    <a href = "{% url 'feed:feedList' %}" style = "color : #454546"> 홈으로 </a>
    </div>

</body>



</html>
