{% extends 'base.html' %}

{% load static %}

{% block contents %}
<body>

    <h5>{{reservation.service.user.name}}</h5>

    <h5>{{reservation.customer.name}}</h5>

    <h5>{{reservation.activate_date}}</h5>

    <h5>{{reservation.customer_count}}</h5>

    <h5>{{reservation.payment_fee}}</h5>


    <form method="POST" action="{% url 'reservation:reservation_pay_method' reservation.pk %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            {{ form.as_p }}
        </div>
        
        <button type="submit">생성하기</button>
    
    </form>
</body>
</html>