{% extends 'base.html' %}

{% load static %}

{% block contents %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <h5>제목: {{service_name}}</h5>
    <h5>가격: {{service_price}}</h5>

    <form method="POST" action="{% url 'reservation:reservation_create' profile.pk %}" enctype="multipart/form-data">
        {% csrf_token %}

        <div>
            {{ form.as_p }}
        </div>
        
        <button type="submit">생성하기</button>
    
    </form>

</body>
</html>

{% endblock %}