{% extends 'base.html' %}

{% load static %}

{% block contents %}

<style>
    /* 활동한 체험 css */
    section {
        display: none;
        padding: 20px 0 0;

    }

    input {
        display: none;
    }

    label {
        width: 150px;
        display: inline-block;
        margin: 0 0 -1px;
        padding: 10px 10px;
        font-weight: 400;
        text-align: center;
        color: #bbb;
        border: 1px solid transparent;
    }

    label:hover {
        color: #1C9FD7;
        cursor: pointer;
    }

    /*input 클릭시, label 스타일*/
    input:checked+label {
        color: #1C9FD7;
        border-top: 2px solid #1C9FD7;
        border-bottom: 2px solid #1C9FD7;
    }

    .main-content {
        text-align: center;
    }

    .exp-card-body {
        display: flex;
        flex-direction: row;
        text-align: left;
        padding: 22px;
    }

    .exp-card-text {
        display: flex;
        flex-direction: column;
        vertical-align: top;
        font-size: 18px;
        margin-left: 15px;
    }

    .exp-card-title {
        vertical-align: top;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .exp-card-image {
        max-width: 200px;
        max-height: 200px;
        border-radius: 5px;
    }

    .exp-card-content {
        font: size 15px;
        margin-top: 10px;
    }

    .visit-master {
        width:100px;
        height: 36px;
        background-color: rgba(28, 159, 215, 1);
        font-size: 15px;
        border: none;
        border-radius: 15px;
        color: white;
        padding: 7px;
        display: block;
    }

    .bookmark-card {
        width: 300px;
        height: 300px;
    }

    #tab1:checked~#content1,
    #tab2:checked~#content2,
    #tab3:checked~#content3,
    #tab4:checked~#content4 {
        display: block;
    }

    #fontsub {
        font-size: 120%;
        color: #545454;
    }

    #fontbold {
        font-weight: bold;
    }

    #green {
        color: #00be68;
    }


    /* 북마크 css */
    .flex-container {
        /* We first create a flex layout context */
        display: flex;

        /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
        flex-flow: row wrap;

        /* Then we define how is distributed the remaining space */
        justify-content: space-around;

        padding: 0;
        margin: 0;
        list-style: none;
    }

    .flex-item {
        background: tomato;
        padding: 5px;
        width: 200px;
        height: 150px;
        margin-top: 10px;
        line-height: 150px;
        color: white;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
    }
</style>

<link rel='stylesheet' href="{% static 'css/accounts.css' %}">

<div class="col-9 align-self-center mt-5" style="margin:auto;">
    <div class="row">
        <div style="text-align: center;">
            <img style="width:170px; height:170px; border-radius: 100%;" src="{% static 'image/profilePicture.jpg' %}">
            <div class="user-info m-2" style="vertical-align: middle;">
                <inline class="username" style="font-size: 30px; margin:auto;">패션팀장</inline>
                <button class="setting-button">
                    <img style="width:35px; height: 35px;" src="{% static 'image/settings.png' %}" class="button">
                </button>
            </div>
            <div class="col">
                <button type="button" class="chatting-btn" style="margin:auto;">
                    채팅하기
                </button>
            </div>
        </div>
    </div>

    <div class="main-content mt-3 border-top">
        <input id="tab1" type="radio" name="tabs" checked>
        <!--디폴트 메뉴-->
        <label for="tab1">활동한 체험</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">북마크</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3">예약현황</label>

        <section id="content1">
            <div class="card">
                <div class="exp-card-body">
                    <img class="exp-card-image" src="{% static 'image/profilePicture.jpg' %}">
                    <inline class="exp-card-text">
                        <inline class="exp-card-title">이천 도예 체험</inline>
                        <inline class="exp-card-date">2021년 6월 24일</inline>
                        <inline class="exp-card-content">
                            장인님께서 너무 친절하게 잘 가르쳐 주셨고
                            한국 고유의 문화를 알게 됐어요!!
                            <br>
                            가족끼리 다녀왔는데 아이들도 너무 좋아해서 뿌듯했습니다!
                            완전 강! 추!
                        </inline>
                    </inline>
                    <button type="button" class="visit-master">
                        방문하기
                    </button>
                </div>
            </div>
        </section>

        <section id="content2">
            <li class="card bookmark-card">
                <img src="{% static 'image/profilePicture.jpg' %}">
            </li>
            <li class="card bookmark-card">
                <img src="{% static 'image/profilePicture.jpg' %}">
            </li>
            <li class="card bookmark-card">
                <img src="{% static 'image/profilePicture.jpg' %}">
            </li>
        </section>

        <section id="content3">
            <ul class="flex-container">
                <li class="flex-item">1</li>
                <li class="flex-item">2</li>
                <li class="flex-item">3</li>
                <li class="flex-item">4</li>
                <li class="flex-item">5</li>
                <li class="flex-item">6</li>
            </ul>
        </section>
    </div>
</div>

{% endblock %}