{% extends 'base.html' %}

{% load static %}

{% block contents %}
<link rel='stylesheet' href="{% static 'css/accounts.css' %}">
<div class="container mt-5">
    <div class="row">
        <div style="text-align: center;" class="col align-self-center">
            <img style="width:170px; height:170px; border-radius: 100%;" src="{% static 'image/profilePicture.jpg' %}">
            <div>
                <inline style="font-size: 30px; ">패션팀장</inline>
                <inline class="col-md-4">
                    <button class="setting-button">
                        <img style="width:35px; height: 35px;" src="{% static 'image/settings.png' %}" class="button">
                    </button>
                </inline>
            </div>
            <div class="col align-self-center" style="text-align: center;">
                <button type="button" class="chatting-btn">
                    채팅하기
                </button>
            </div>
        </div>
    </div>
</div>

<div class="ec-base-tab typeLight eTab">
    <u1 class="menu">
        <li class="col-4 selected"><a href="{% url 'profile-exp' %}">활동한 체험</a></li>
        <li class="col-4"><a href="{% url 'profile-bookmark' %}">북마크</a></li>
        <li class="col-4"><a href="#tabCont1_3">탭 메뉴3</a></li>
    </u1>
    <div id="tabCont1_1" class="tabCont" style="display:block;">
        탭 메뉴 1 내용영역
    </div>
    <div id="tabCont1_2" class="tabCont" style="display:none;">
        탭 메뉴 2 내용영역
    </div>
    <div id="tabCont1_3" class="tabCont" style="display:none;">
        탭 메뉴 3 내용영역
    </div>
</div>

{% endblock %}