{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>사이트 약관동의</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id = "header">
        <img style="display:flex; width : 70%; height:6%;" src="{% static 'image/signup_stepper1.png' %}">

        <h1>여행간김에 회원가입 약관</h1>
    </div>

    <div id="wrapper">

        <br>
        <input type="text" name="content" style="width:90" placeholder="체험운영자">
        <input type="text"  name="content" style="width:90" placeholder="여행가">
        <br>
        <div class="btn_area">
            <button type = "button">
                <span>다음단계</span>
            </button>
        </div>
        <br>

        
    </div>

<br>
 

    
</body>
</html>
