{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 완료</title>
    <link rel="stylesheet" href="{% static 'css/new_main.css' %}">
</head>

<body>
    <div id = "header">
        <img style="width : 70%; height:6%;" src="{% static 'image/signup_stepper3.png' %}">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1><b>회원가입이 완료되었습니다.</b></h1>
    </div>

    <div class="btn_area">
        <button type="button">
            <span>시작하기</span>

    <div id="wrapper">

        <div id= "content">
            
            <div>



    </div>
</body>
</html>