{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>여행간김에</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class = "row">
        <h1>여행간김에</h1>
        <br>
        <img style="display:flex; width : 40%; height:6%;" src="{%'\static\image\Group 707.png'%}">
        <br>
        <input type="text" name="content" style="width:90" placeholder="체험운영자">
        <input type="text"  name="content" style="width:90" placeholder="여행가">
        <br>
        <div class="btn_area">
            <button type = "button">
                <span>다음단계</span>
            </button>
        </div>
        <br>

        
    </div>

<br>
 

    
</body>
</html>
